
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="{%static 'css/logstyle.css'%}" rel="stylesheet" type="text/css"/>
<!------ Include the above in your HEAD tag ---------->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body id="body">
<div class="container">
				<div class="panel panel-login" >
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6" style="padding-top:10px;">
								<a href="login">Login</a>
							</div>
							<div class="col-xs-6" style="background-color:gold; height:50px; padding-top:10px; border-radius:5px;">
								<a href="#"  class="active" style="margin-top:3px;">Sign-up</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="register" method="POST" role="form" style="display: block;">
								{% csrf_token %}
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" style="font-weight:500;">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" style="font-weight:500;">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" style="font-weight:500;">
									</div>
									<div class="form-group">
										<input type="password" name="confirm_password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" style="font-weight:500;">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="agree" id="remember" value="False">
										<label for="remember" style="color:white; font-weight:500;">I agree to the <a href="termsandconditions">terms and conditions</a></label>
									</div>
									<div class="form-group text-center" style="margin-left:140px; margin-right:140px;">
										{%for message in messages%}
										<span style="color:gold; font-weight:550;">{{message}}</span>
										{%endfor%}
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Sign-up" style="font-weight:550;">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="login" tabindex="5" class="forgot-password" style=" color:white;">Already a member? <span style="font-weight: 600; color:rgb(0, 174, 255);">Log in!</span></a>
													
												</div>
											</div>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
  </div>
  
</body>
<script src="{%static 'js/login.js'%}"></script>