
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="{%static 'css/logstyle.css'%}" rel="stylesheet" type="text/css"/>
<!------ Include the above in your HEAD tag ---------->

<body id="body">
<div class="container">
				<div class="panel panel-login" >
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6" style="background-color:gold; height:50px; padding-top:10px; border-radius:5px;">
								<a href="#"  class="active" style="margin-top:3px;">Reset Password</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="resetpassword" method="POST" role="form" style="display: block;">
								{% csrf_token %}
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="New Password" style="font-weight:500;">
									</div>
									<div class="form-group">
										<input type="password" name="confirm_password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm New Password" style="font-weight:500;">
									</div>
									
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Reset Password" style="font-weight:550;">
											</div>
										</div>
									</div>
									
								</form>
								
							</div>
						</div>
					</div>
				</div>
  </div>
  
</body>
<script src="{%static 'js/login.js'%}"></script>